body{
    font-family: Roboto, sans-serif;
    font-size: small;
}

h1{
    margin: 0 0 10px;
    text-align: center;
    font-size: medium;
}

/* Удерживаем блоки от выпадения */
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/* Задаем высоту строки с элементами формы */
.row{
    line-height: 30px;
}

/* Делаем ячейку в строке слева, для элементов типа <label> */
.left{
    width: 50%;
    float: left;
    text-align: right;
}

/* Делаем ячейку в строке слева, для элементов типа <input> */
.right{
    width: 50%;
    float: right;
    text-align: left;
}

/* Блок для оформления формы*/
.userform{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e9e5da;
}

/* Оформление кнопок */
.button{
    margin: 10px 20px;
    width: 50%;
}

/* Небольшой отступ для <label> - что бы не сливались с <input> */
label{
    padding-right: 8px;
}

/* Перестраиваем форму при изменении размера менее 540px. */
@media screen and (max-width: 540px){
    .left{
        float: none;
        width: 100%;
        text-align: left;
    }
    .right{
        float: none;
        width: 100%;
        text-align: left;
    }
    h1{
        text-align: left;
    }
}

