body{
    font-family: Roboto, sans-serif;
    font-size: small;
}

h1{
    margin: 0 0 10px;
    text-align: center;
    font-size: medium;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.row{
    line-height: 30px;
}

.left{
    width: 50%;
    float: left;
    text-align: right;
}

.right{
    width: 50%;
    float: right;
    text-align: left;
}

.userform{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e9e5da;
}

.button{
    margin: 10px 20px;
    width: 80px;
}

label{
    padding-right: 8px;
}


@media screen and (max-width: 540px){
    .left{
        float: none;
        width: 100%;
        text-align: left;
    }
    .right{
        float: none;
        width: 100%;
        text-align: left;
    }
}

